<h2>Por region</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <!-- <shared-search-box
      (onValue)="searchByRegion($event)"
      [placeholder]="'Buscar por región'"
    ></shared-search-box> -->
    <button
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      [ngClass]="{ active: selectedRegion === region }"
      class="btn btn-outline-primary mx-2 my-1"
    >
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr />
    <contries-table [countries]="countries"></contries-table>
  </div>
</div>
